.instruction-container {
    position: absolute;
    top: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.dialog-box {
    position: relative;
    width: 100px; /* Adjust as needed */
    height: fit-content;
    padding: 20px;
    background-color: white;
    border: 1px solid #ddd; /* Softer border */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    display: none;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transitions */
    overflow: hidden; /* Ensure inner content does not overflow */
    z-index: 9999;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: orangered;
}

.dialog-box.visible {
    display: block;
}

.dialog-box.invisible {
    display: none;
}

.dialog-box.invisible + .icon {
    display: block;
}

.dialog-box.visible + .icon {
    display: none;
}

.dialog-box #step {
    font-family: 'Roboto', sans-serif; /* Modern font */
    font-size: 18px; /* Adjust as needed */
    font-weight: bolder;    
    line-height: 1.5; /* Improved readability */

}

.dialog-box .content {
    font-family: 'Roboto', sans-serif; /* Modern font */
    font-size: 14px; /* Adjust as needed */
    color: #333; /* Dark text color */
}